@page
@model Portfolio.Pages.Treasuries.TreasuriesModel
@{
    ViewData["Title"] = "Treasuries";
}

<script src="https://unpkg.com/htmx.org@2.0.4"></script>

<script>
    // By default, HTMX will not swap on non-200 status codes. Set shouldSwap to true for 500 errors here so that
    // the user is shown an error message if any exceptions are thrown
    document.body.addEventListener('htmx:beforeOnLoad', function (e) {
        if (e.detail.xhr.status === 500) {
            e.detail.shouldSwap = true;
        }
    });
</script>

<div class="text-center">
    <section>
	<h1>Todays Auctions</h1>
	<div hx-get="@Url.Page("", "Auctions", new { asOf = DateTime.Today.ToString("MM-dd-yyyy") })" hx-trigger="load">

	</div>
    </section>

    <section>
	<h1>Todays Announcements</h1>
	<div hx-get="@Url.Page("", "Announcements", new { asOf = DateTime.Today.ToString("MM-dd-yyyy") })" hx-trigger="load">

	</div>
    </section>
    
</div>
