@model TreasuryDirectSecurityIssuanceResult


<table class="table">
    <tr>
        <td>
            @Model.Cusip
        </td>
        <td>
            @Model.SecurityType
        </td>
        <td>
            @Model.IssueDate
        </td>
    </tr>
</table>