@page
@model Portfolio.Pages.TreasuriesModel

<script src="https://unpkg.com/htmx.org@1.9.11"></script>

<div class="text-center">
    <h1>TODO</h1>

    <form method="post" hx-post="@Url.Page("Treasuries")" hx-target="#results">
        <div class="form-control-plaintext">
            <label>Cusip:</label><input type="text" asp-for="@Model.Cusip" />
        </div>
        <div class="form-control-plaintext">
            <label>Issue Date:</label><input type="date" asp-for="@Model.IssueDate" /><br />
        </div>
        <div>

        </div>
        <div class="form-control-plaintext">
            <button type="submit" class="btn btn-outline-primary">
                Submit
            </button>
        </div>
    </form>
    
    <div id="results">
    </div>
    
</div>